---
import MainLayout from "../../layouts/mainLayout.astro";
---

<MainLayout lang="en" title="Magnet And Care">
	<h1>Hello boi na ENGLESKOM</h1>
	<a href="/en/contact">Kontaktiraj nas</a>
</MainLayout>