---
import MainLayout from '../../layouts/mainLayout.astro';
---

<MainLayout lang="en" title="Magnet And Care - Privacy Policy">
    <section class="my-4 md:my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5">
            <h2 class="mb-4 md:mb-8 font-bold text-3xl md:text-5xl text-center md:text-left">Politika privatnosti</h2>
            <div class="pl-5 md:pl-20">
                <ol class="list-decimal">
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Introduction</h3>
                        <div class="pl-5 md:text-2xl">
                            Magnet And Care DOO (hereinafter referred to as "we," "our," or "us") is committed to protecting your privacy. This privacy policy explains how we collect, use, and store the information you provide to us through the contact form and newsletter on our website.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Data We Collect</h3>
                        <div class="pl-5 md:text-2xl">
                            When you use our contact form, we collect the following information:
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li>Full name</li>
                                    <li>Email address</li>
                                    <li>Phone number (optional)</li>
                                    <li>Brief message</li>
                                </ul>
                            </div>

                            <br> <!-- Break -->

                            When you sign up for the newsletter, we collect only: 
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li>Email address</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">How we use your data</h3>
                        <div class="pl-5 md:text-2xl">
                            We do not share your data with third parties except when using trusted data processing services such as:
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li><a href="https://formspree.io/legal/privacy-policy/" target="_blank" class="underline">Formspree</a>, which we use as a backend service for processing data from the contact form.</li>
                                    <li><a href="https://www.intuit.com/privacy/statement/" target="_blank" class="underline">Mailchimp</a>, which we use for sending notifications through the newsletter.</li>
                                </ul>
                            </div>
                            <br>
                            Both services process your data in accordance with their privacy policies and data protection laws. You can request more information at any time about how your data is processed or unsubscribe from the newsletter via the unsubscribe link in the emails.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Data Security</h3>
                        <div class="pl-5 md:text-2xl">
                            We take all necessary technical and organizational measures to protect your data from unauthorized access, misuse, or loss. Your data collected through the contact form is processed via <a href="https://formspree.io/security/" target="_blank" class="underline">Formspree</a> service, and the data collected for the newsletter is processed through the <a href="https://mailchimp.com/about/security/" target="_blank" class="underline">Mailchimp</a>  platform. These services use advanced security protocols, including encryption and other protective measures, to ensure the security of your data.

                            Although we take all reasonable steps to protect your data, no method of data transmission over the internet or electronic storage is 100% secure. Therefore, we cannot guarantee absolute security, but we work with reliable services that comply with applicable data protection laws.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Your Rights</h3>
                        <div class="pl-5 md:text-2xl">
                            You have the right to request access, correction, or deletion of your personal data. You also have the right to withdraw your consent for data processing at any time, including the option to unsubscribe from the newsletter via the link in any email you receive.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Changes to the Privacy Policy</h3>
                        <div class="pl-5 md:text-2xl">
                            We reserve the right to update or modify this privacy policy at any time. Any changes will be posted on this page with an updated revision date. We encourage you to review this privacy policy periodically to stay informed about how we are protecting your personal data.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Contact</h3>
                        <div class="pl-5 md:text-2xl">
                            If you have any questions or concerns regarding our privacy policy or the handling of your personal data, feel free to contact us through the following details: <a href="mailto:info@magnetandcare.com" target="_blank" class="underline">info@magnetandcare.com</a>.
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</MainLayout>

<style>
    li::marker {
        font-size: 1.125rem;
    }

    @media screen and (min-width: 768px) {
        li::marker {
            font-size: 1.875rem;
        }
    }
</style>