---
import MainLayout from '../layouts/mainLayout.astro';
import SwiperComponent from '../components/carousel.jsx';
---

<MainLayout lang="sr" title="Magnet And Care - O nama">
    <section>
        <div>
            <h2>O Nama</h2>
            <div>
                <h3>Ko Smo Mi</h3>
                <p>
                    Magnet And Care doo je posvećen pružanju profesionalne nege starijim osobama. Naš iskusni tim medicinskih sestara i negovatelja brine o onima kojima je najpotrebnije, pružajući im podršku u svakodnevnim aktivnostima, kao i u specijalizovanoj medicinskoj nezi. Verujemo da kvalitetna nega dolazi od saosećajnih i posvećenih profesionalaca, i zato neprestano radimo na izgradnji tima koji deli našu viziju.
                </p>
                <SwiperComponent client:only="react" />
                <button id="autoplay-toggle" class="px-4 py-2 rounded-lg bg-primary md:hover:bg-accent font-bold text-lg text-background md:hover:text-text duration-300">
                    Toggle Autoplay
                </button>
            </div>
            <div>
                <h3>Naša Misija</h3>
                <p>
                    Naš cilj je pružiti visokokvalitetnu negu osobama kojima je potrebna, kako bi mogli da uživaju u životu uz maksimalnu podršku. Saosećanje, profesionalizam i posvećenost su temelj našeg rada.
                </p>
            </div>
        </div>
    </section>
</MainLayout>