---
import MainLayout from '../layouts/mainLayout.astro';
import SwiperComponent from '../components/carousel.jsx';
---

<MainLayout lang="sr" title="Magnet And Care - O nama">
    <section class="my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5">
            <h2 class="mb-8 font-bold text-5xl text-center lg:text-left">O Nama</h2>

            <div class="my-8 flex flex-col lg:flex-row gap-5">
                <div class="my-8 lg:my-0 lg:w-1/2 flex flex-col items-center lg:items-start">
                    <p class="2xl:text-2xl text-center lg:text-justify">
                        Magnet And Care doo je posvećen pružanju profesionalne nege starijim osobama. Takođe, nudimo usluge organizacije u ugostiteljstvu i hotelijerstvu, uključujući radna mesta kao što su konobari, šankeri, sobarice i radnici za peglanje veša. Naš tim stručnjaka je posvećen podršci i organizaciji, pružajući efikasna rešenja za svakodnevne izazove i unapređenje kvaliteta usluga koje nudimo, a istovremeno stvarajući prijatno radno okruženje za sve naše zaposlene. Verujemo da kvalitetna nega dolazi od saosećajnih i posvećenih ljudi, i zato neprestano radimo na izgradnji tima koji deli našu viziju.
                    </p>
                    <p class="my-4 2xl:text-2xl text-center lg:text-justify">
                        Zahvaljujemo vam se što verujete u naš rad i misiju. Ako želite da budete deo našeg tima i doprinesete kroz razne uloge koje nudimo, pozivamo vas da nam se pridružite!
                    </p>
                    <a href="/contact" class="inline-block px-4 py-2 rounded-lg bg-primary md:hover:bg-accent duration-300 font-bold text-lg text-background md:hover:text-text">Kontaktirajte nas</a>
                </div>
                <div class="w-full lg:w-1/2 flex flex-col m-auto">
                    <div class="rounded-lg overflow-hidden">
                        <SwiperComponent stopAutoplayText="Zaustavite autoplay" startAutoplayText="Pokrenite autoplay" client:load />
                    </div>
                    <button id="autoplay-toggle" class="w-60 self-center mt-2 px-4 py-2 rounded-lg bg-accent font-bold text-lg text-text duration-300 text-nowrap">
                        Zaustavi autoplay
                    </button>
                </div>
            </div>
        </div>
    </section>
</MainLayout>