---
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout lang="sr" title="Magnet And Care - Kontakt i Prijava">
    <section class="my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5">
            <h2 class="mb-8 font-bold text-5xl text-center lg:text-left">Tu smo da pomognemo</h2>

            <div>
                <div>
                    <h3 class="font-semibold text-3xl">Ostavite nam poruku</h3>
                    <form action="../components/verify" method="POST" id="form" class="w-1/2 flex flex-col items-start gap-5 text-2xl">

                        <input type="hidden" name="access_key" value="c91bea0a-bfc1-49bc-b8e6-950d907ba3c5">

                        <label class="w-full flex flex-col gap-2">
                            Puno ime i prezime:
                            <input type="text" name="username" required placeholder="Unesite vaše puno ime i prezime..." />
                        </label>
                        <label class="w-full flex flex-col gap-2">
                            E-mail:
                            <input type="email" name="email" required placeholder="Unesite vašu e-mail adresu..." />
                        </label>
                        <label class="w-full flex flex-col gap-2">
                            <div>Broj telefona <span class="font-semibold italic">(molimo vas uljučite i pozivni broj)</span>:</div>
                            <input type="tel" name="tel" placeholder="Unesite vaš broj telfona..." />
                        </label>
                        <label class="w-full flex flex-col gap-2">
                            Poruka:
                            <textarea name="message" required class="h-64 resize-none overflow-auto" placeholder="Napišite vašu poruku ovde"></textarea>
                        </label>
                        <div class="cf-turnstile" data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}></div>
                        <input type="submit" name="submit" class="w-1/2 self-center" value="Pošaljite"/>
                        <div id="result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</MainLayout>

<script is:inline>
    const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    form.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result.innerHTML = "Molimo vas sačekajte..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = "E-mail je uspešno poslat!";
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Došlo je do greške!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 7000);
            });
    });
    </script>