---
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout lang="sr" title="Magnet And Care - Usluge">
    <section class="my-4 md:my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5 flex flex-col items-center gap-5">
            <h2 class="mb-4 md:mb-8 font-bold text-3xl md:text-5xl text-center md:text-left">Usluge koje nudimo</h2>
            <div class="w-full grid grid-cols-2 grid-flow-row gap-5 text-2xl">
                <div class="mr-5">
                    <h3 class="text-3xl font-semibold">Sveobuhvatna Nega i Podrška</h3>
                    <p class="my-5 text-justify">
                        Magnet And Care DOO pruža širok spektar usluga usmerenih na poboljšanje kvaliteta života starijih i invalidnih osoba, uključujući pomoć pri hodanju, davanju lekova, oblačenju, ličnoj higijeni, kao i obavljanje svakodnevnih aktivnosti. Naši stručnjaci pružaju individualizovanu podršku svakom klijentu, osiguravajući im udobnost i sigurnost u svakom trenutku.
                    </p>
                    <img src="/care.jpg" alt="Care service" class="rounded-lg">
                </div>
                <div class="ml-5">
                    <h3 class="text-3xl font-semibold">Usluge Hotelijerstva i Ugostiteljstva</h3>
                    <p class="my-5 text-justify">
                        Pored medicinskih usluga, Magnet And Care DOO pruža i profesionalne usluge u oblasti hotelijerstva i ugostiteljstva. Naš tim obuhvata kvalifikovane radnike za poslove sobarica, konobara (kelnera), šankera (barmena), kao i radnike za peglanje veša. Posvećeni smo pružanju visokokvalitetnih usluga kako bismo osigurali prijatan boravak i zadovoljstvo klijenata.
                    </p>
                    <img src="/bar.jpg" alt="Bar service" class="rounded-lg">
                </div>
            </div>
        </div>
    </section>
</MainLayout>

<style>
    .horizontal-break {
        background: rgb(7,17,17);
        background: linear-gradient(0deg, rgba(7,17,17,0) 0%, rgba(7,17,17,0.4) 10%, rgba(7,17,17,0.4) 90%, rgba(7,17,17,0) 100%);
    }
</style>