---
import MainLayout from '../../layouts/mainLayout.astro';
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils.ts';
import SwiperComponent from '../../components/carousel.jsx';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<MainLayout lang="de" title="Magnet And Care - Über uns">
    <section class="my-4 md:my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5">
            <h2 class="mb-4 md:mb-8 font-bold text-3xl md:text-5xl text-center lg:text-left">Wer Wir Sind</h2>
            <div class="flex flex-col 2xl:flex-row gap-5">
                <div class="w-full 2xl:w-1/2 flex flex-col items-center lg:items-start text-lg md:text-2xl">
                    <p class="mb-4 text-start lg:text-justify">
                        Magnet And Care DOO ist darauf spezialisiert, professionelle Dienstleistungen in verschiedenen Sektoren anzubieten. Unser Angebot umfasst:
                    </p>
                    <ul class="mb-4 pl-10 list-disc flex flex-col gap-2 text-start">
                      <li><span class="font-semibold">Pflege älterer und behinderter Menschen</span>, die ihnen ein würdiges und qualitativ hochwertiges Leben ermöglicht.</li>
                      <li><span class="font-semibold">Dienstleistungen im Bereich Gastgewerbe und Hotellerie</span>, mit Positionen wie Kellnern, Barkeepern, Hausmädchen und Wäscher.</li>
                      <li><span class="font-semibold">Wartung der öffentlichen Sauberkeit und Hygiene</span>, durch Aufgaben im Bereich der öffentlichen Versorgungsdienste.</li>
                    </ul>
                    <p class="mb-4 text-start lg:text-justify">
                        Unser Expertenteam ist der Unterstützung und Organisation gewidmet, bietet effiziente Lösungen für tägliche Herausforderungen und verbessert die Qualität der von uns angebotenen Dienstleistungen. Gleichzeitig schaffen wir eine angenehme Arbeitsumgebung für alle unsere Mitarbeiter. Wir glauben, dass Qualität von mitfühlenden und engagierten Menschen kommt, weshalb wir kontinuierlich daran arbeiten, ein Team aufzubauen, das unsere Vision teilt.
                    </p>
                    <p class="mb-4 text-start lg:text-justify">
                        Wir danken Ihnen für Ihr Vertrauen in unsere Arbeit und unsere Mission. Wenn Sie Teil unseres Teams werden und durch die verschiedenen Rollen, die wir anbieten, einen Beitrag leisten möchten, laden wir Sie ein, sich uns anzuschließen!
                    </p>
                    <a href={translatePath('/contact/')} class="inline-block max-w-max self-start px-4 py-2 rounded-lg bg-primary md:hover:bg-accent duration-300 font-bold text-lg text-center text-background md:hover:text-text">Kontaktieren Sie uns</a>
                </div>
                <div class="w-full 2xl:w-1/2 flex flex-col m-auto">
                    <div class="rounded-lg overflow-hidden">
                        <SwiperComponent stopAutoplayText="Autoplay stoppen" startAutoplayText="Autoplay starten" client:load />
                    </div>
                    <button id="autoplay-toggle" class="w-60 self-center mt-2 px-4 py-2 rounded-lg bg-accent font-bold text-lg text-text duration-300 text-nowrap">
                        Autoplay stoppen
                    </button>
                </div>
            </div>
        </div>
    </section>
</MainLayout>

<style is:global>
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 40px !important;
  opacity: 0.6 !important;
  border-radius: 0.5rem !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@media screen and (min-width: 640px) {

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: block;
  }

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0 !important;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 8rem 1.5rem;

    transition: 300ms ease-in-out;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .swiper-button-prev {
    left: 20px !important;
  }
  
  .swiper-button-next {
    right: 20px !important;
  }
}
</style>