---
import MainLayout from '../../layouts/mainLayout.astro';
---

<MainLayout lang="de" title="Magnet And Care - Datenschutzrichtlinie">
    <section class="my-4 md:my-8 mx-4 flex justify-center">
        <div class="w-full md:w-4/5">
            <h2 class="mb-4 md:mb-8 font-bold text-3xl md:text-5xl text-center md:text-left">Politika privatnosti</h2>
            <div class="pl-5 md:pl-20">
                <ol class="list-decimal">
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Einleitung</h3>
                        <div class="pl-5 md:text-2xl">
                            Magnet And Care DOO (im Folgenden "wir", "unser" oder "uns") verpflichtet sich, Ihre Privatsphäre zu schützen. Diese Datenschutzrichtlinie erklärt, wie wir die Informationen sammeln, verwenden und speichern, die Sie uns über das Kontaktformular und den Newsletter auf unserer Website zur Verfügung stellen.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Daten, die wir sammeln</h3>
                        <div class="pl-5 md:text-2xl">
                            Wenn Sie unser Kontaktformular verwenden, sammeln wir die folgenden Informationen:
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li>Vollständiger Name</li>
                                    <li>E-Mail-Adresse</li>
                                    <li>Telefonnummer (optional)</li>
                                    <li>Kurze Nachricht</li>
                                </ul>
                            </div>

                            <br> <!-- Break -->

                            Wenn Sie sich für den Newsletter anmelden, sammeln wir nur: 
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li>E-Mail-Adresse</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Wie wir Ihre Daten verwenden</h3>
                        <div class="pl-5 md:text-2xl">
                            Wir teilen Ihre Daten nicht mit Dritten, außer bei der Verwendung vertrauenswürdiger Datenverarbeitungsdienste wie:
                            <div class="pl-5">
                                <ul class="list-disc list-inside">
                                    <li><a href="https://formspree.io/legal/privacy-policy/" target="_blank" class="underline">Formspree</a>, den wir als Backend-Service zur Verarbeitung von Daten aus dem Kontaktformular verwenden.</li>
                                    <li><a href="https://www.intuit.com/privacy/statement/" target="_blank" class="underline">Mailchimp</a>, den wir für das Versenden von Benachrichtigungen über den Newsletter verwenden.</li>
                                </ul>
                            </div>
                            <br>
                            Beide Dienste verarbeiten Ihre Daten gemäß ihren Datenschutzrichtlinien und den Datenschutzgesetzen. Sie können jederzeit weitere Informationen darüber anfordern, wie Ihre Daten verarbeitet werden, oder sich über den Abmeldelink in den E-Mails vom Newsletter abmelden.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Datensicherheit</h3>
                        <div class="pl-5 md:text-2xl">
                            Wir ergreifen alle notwendigen technischen und organisatorischen Maßnahmen, um Ihre Daten vor unbefugtem Zugriff, Missbrauch oder Verlust zu schützen. Ihre über das Kontaktformular gesammelten Daten werden über <a href="https://formspree.io/security/" target="_blank" class="underline">Formspree</a>-Service, und die für den Newsletter gesammelten Daten werden über die <a href="https://mailchimp.com/about/security/" target="_blank" class="underline">Mailchimp</a>-Plattform verarbeitet. Diese Dienste verwenden fortschrittliche Sicherheitsprotokolle, einschließlich Verschlüsselung und anderen Schutzmaßnahmen, um die Sicherheit Ihrer Daten zu gewährleisten.

                            Obwohl wir alle angemessenen Schritte unternehmen, um Ihre Daten zu schützen, ist keine Methode der Datenübertragung über das Internet oder der elektronischen Speicherung zu 100 % sicher. Daher können wir keine absolute Sicherheit garantieren, aber wir arbeiten mit zuverlässigen Diensten zusammen, die den geltenden Datenschutzgesetzen entsprechen.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Ihre Rechte</h3>
                        <div class="pl-5 md:text-2xl">
                            Sie haben das Recht, den Zugriff, die Korrektur oder die Löschung Ihrer persönlichen Daten zu verlangen. Sie haben auch das Recht, Ihre Einwilligung zur Datenverarbeitung jederzeit zu widerrufen, einschließlich der Möglichkeit, sich über den Link in jeder erhaltenen E-Mail vom Newsletter abzumelden.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Änderungen der Datenschutzrichtlinie</h3>
                        <div class="pl-5 md:text-2xl">
                            Wir behalten uns das Recht vor, diese Datenschutzrichtlinie jederzeit zu aktualisieren oder zu ändern. Alle Änderungen werden auf dieser Seite mit einem aktualisierten Revisionsdatum veröffentlicht. Wir empfehlen Ihnen, diese Datenschutzrichtlinie regelmäßig zu überprüfen, um informiert zu bleiben, wie wir Ihre persönlichen Daten schützen.
                        </div>
                    </li>
                    <li>
                        <h3 class="my-4 font-semibold text-lg md:text-3xl">Kontakt</h3>
                        <div class="pl-5 md:text-2xl">
                            Wenn Sie Fragen oder Bedenken zu unserer Datenschutzrichtlinie oder der Verarbeitung Ihrer persönlichen Daten haben, können Sie uns gerne unter den folgenden Kontaktdaten erreichen: <a href="mailto:info@magnetandcare.com" target="_blank" class="underline">info@magnetandcare.com</a>.
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</MainLayout>

<style>
    li::marker {
        font-size: 1.125rem;
    }

    @media screen and (min-width: 768px) {
        li::marker {
            font-size: 1.875rem;
        }
    }
</style>