---
import "../styles/global.css"
import HeadMeta from "../components/headMeta.astro";
import Header from "../components/header.astro";
import LangSelector from "../components/langSelector.astro";
import Footer from "../components/footer.astro";

import { getLangFromUrl } from '../i18n/utils';

interface Props {
	title: string;
	lang: string;
}
const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/MC-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<HeadMeta />

		<title>{title}</title>
	</head>
	<body class="text-text bg-background montserrat-500">
		<Header />
		<LangSelector />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	
</style>
