---
import "../styles/global.css"
const date = new Date().getFullYear();
const { title } = Astro.props;
---

<html lang="rs">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/MC-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		
		<title>{title}</title>
	</head>
	<body class="text-text bg-background montserrat-500">
		<header class="flex justify-center">
			<div class="w-4/5"><a href="/" class="text-4xl font-bold flex items-center gap-x-2"><img src="/MC-logo.svg" alt="Logo" class="size-16"> Magnet And Care</a></div>
			<div>
				<ul>
					<li></li>
				</ul>
			</div>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<div>Copyright &copy {date}</div>
		</footer>
	</body>
</html>

